a {
  text-decoration: none;
}

.nav {
  padding: 10px 6rem;
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 1000;
}

.color_grey {
  color: #333;
}

.nav_items {
  font-size: 1.1rem;
  margin-left: auto;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logoImg {
  height: 2.5rem;
}
