@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

/* Make sure the html and body take up the full height */
html,
body {
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Ensure the .app container fills the full height of the viewport */
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Minimum height of the viewport */
}

/* Main content takes up the remaining space */
.content {
  flex: 1;
}

.mx_2rem {
  margin: 0 2rem;
}

.my_2rem {
  margin: 2rem 0;
}

.txt_algn_center {
  text-align: center;
}
